/* BACKGROUND COLORS */
/* FUENTES */
@import url(https://fonts.googleapis.com/css2?family=Lacquer&family=Orbitron:wght@400..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lacquer&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nabla&display=swap);
.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1a1026;
}
.footerContainer .footerParagraphContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContainer .footerParagraphContainer .paragraphFooter {
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}
.footerContainer .logoContainer {
  gap: 1rem;
  justify-content: end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: unset;
}
.footerContainer .logoContainer .footerLinks .imgFooter {
  width: 40px;
  height: 40px;
  filter: invert(1);
}

.mainHeader {
  background-color: #1a1026;
  background-repeat: no-repeat;
  position: sticky;
  top: 0px;
  z-index: 1;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainHeader .arcadiaTitle {
  font-family: "Nabla";
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
}
.mainHeader .mainNav .listContainer {
  gap: 1rem;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainHeader .mainNav .listContainer .listStyle {
  border-right: 2px solid #ffffff;
  padding-right: 1rem;
}
.mainHeader .mainNav .listContainer .listStyle .mainLinks {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  text-transform: capitalize;
}
.mainHeader .mainNav .listContainer .listStyle .mainLinks:hover {
  color: #ff00ff;
}

.firstSection {
  background-color: #34124b;
  padding: 2rem;
  border-bottom: 1px solid rgba(173, 57, 155, 0.4);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(rgba(26, 16, 38, 0.8), rgba(26, 16, 38, 0.8)), url(../../Img/fondoCompras.webp);
}
.firstSection .titleStyle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 38px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.firstSection .paragraphStyle {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  gap: 1rem;
  font-size: 20px;
  text-align: center;
}

.storeLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  background-color: #24103a;
  padding: 2rem;
  border-bottom: 1px solid rgba(173, 57, 155, 0.4);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);
}
.storeLayout .filterContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: unset;
}
.storeLayout .filterContainer .filterTitle {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  padding-left: 1rem;
}
.storeLayout .filterContainer .filterGenre {
  display: flex;
  flex-direction: column;
  align-items: unset;
  border: #ad399b solid 2px;
  border-radius: 10px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  background-color: #1a1026;
  box-shadow: 0 0 5px #ad399b, 0 0 10px #ad399b, 0 0 20px #6e2bff;
}
.storeLayout .filterContainer .filterGenre .filterSubTitle {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
}
.storeLayout .filterContainer .filterGenre .checkboxStyle {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  gap: 1rem;
  font-size: 12px;
  text-align: left;
}
.storeLayout .productContainer .productTitle {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}
.storeLayout .productContainer .gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  gap: 2rem;
}
.storeLayout .productContainer .gamesGrid .gameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}
.storeLayout .productContainer .gamesGrid .gameCard .gameCardImg {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}
.storeLayout .productContainer .gamesGrid .gameCard .productGame {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  margin-top: 0.5rem;
}
.storeLayout .productContainer .gamesGrid .gameCard .genderFilter {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  gap: 1rem;
  font-size: 12px;
  text-align: center;
}
.storeLayout .productContainer .gamesGrid .gameCard .buyButton {
  border: 2px solid #ff00ff;
  color: #ff00ff;
  background-color: #000000;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
}
@media (min-width: 300px) and (max-width: 525px) {
  .storeLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .storeLayout .filterContainer {
    display: none;
  }
}

.firstSectionContainer {
  padding: 1rem;
  border-top: 2px solid #ad399b;
  border-bottom: 2px solid #ad399b;
  width: 100%;
  background-color: #24103a;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(26, 16, 38, 0.8), rgba(26, 16, 38, 0.8)), url(../../Img/fondoPrincipal.webp);
}
.firstSectionContainer .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.firstSectionContainer .mainContainer .titleStyle {
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 38px;
  margin: 0px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.firstSectionContainer .mainContainer .paragraphStyle {
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  gap: 1rem;
  font-size: 20px;
  text-align: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #24103a;
  padding: 2rem;
  border-top: 1px solid #ad399b;
  border-bottom: 1px solid #ad399b;
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.2509803922);
}
.sectionContainer .textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionContainer .textContainer .titleStyle {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 38px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.sectionContainer .gamesContainer {
  display: flex;
  flex-direction: row;
  align-items: unset;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
}
.sectionContainer .gamesContainer .styledGame {
  border: 1px solid #52246f;
  border-radius: 15px;
  background-color: #1a1026;
  box-shadow: 0 0 5px #ad399b, 0 0 10px #ad399b, 0 0 20px #6e2bff;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer {
  display: flex;
  flex-direction: column;
  align-items: unset;
  width: 300px;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .imgPopular {
  padding: 1rem;
  border-radius: 25px;
  height: 400px;
  width: 300px;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .imgAndStars {
  margin-bottom: 1rem;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .imgAndStars .userAvatar {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .imgAndStars .fa-star {
  color: #ff00ff;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .titleStyleGame {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .buyLink {
  border: 2px solid #ff00ff;
  color: #ff00ff;
  padding: 8px;
  border-radius: 15px;
  font-size: 0.8rem;
  background: transparent;
  width: 114px;
  align-self: center;
  margin-bottom: 16px;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
}
.sectionContainer .gamesContainer .styledGame .imgAndTextContainer .buyLink.buyLink:hover {
  background: #ff00ff;
  color: #000000;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}
@media (min-width: 300px) and (max-width: 525px) {
  .sectionContainer .gamesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainContainerForm {
  background-color: #24103a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainerForm .textAndFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: white;
  width: 650px;
  padding: 2.5rem;
  border-radius: 20px;
  background: rgba(20, 0, 40, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid #ff4fe0;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.4);
}
.mainContainerForm .textAndFormContainer .formTitle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  text-shadow: 0 0 8px #ff4fe0, 0 0 20px #ff4fe0;
}
.mainContainerForm .textAndFormContainer .formContainer {
  display: flex;
  flex-direction: column;
  align-items: unset;
  height: 100%;
  width: 100%;
}
.mainContainerForm .textAndFormContainer .formContainer .labelForm {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  border-left: 3px solid #ff4fe0;
  background: rgba(255, 0, 255, 0.1);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.mainContainerForm .textAndFormContainer .formContainer .termsContainer .labelForm1 {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  background: rgba(255, 0, 255, 0.1);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.mainContainerForm .textAndFormContainer .formContainer .buttonForm {
  font-family: "Orbitron", sans-serif;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff00ff, #ff4fe0);
  color: white;
  transition: 0.3s;
}
.mainContainerForm .textAndFormContainer .formContainer .buttonForm:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
}
.mainContainerForm .textAndFormContainer .formContainer .formParagraphRegistro {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  position: relative;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  line-height: 1.7;
  max-width: 420px;
  margin: 2rem auto 2rem auto;
  padding: 1rem 1.5rem;
}
.mainContainerForm .textAndFormContainer .formContainer .formLink {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.8rem;
  text-shadow: 0 0 8px #ff4fe0, 0 0 20px #ff4fe0;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: unset;
  gap: 2rem;
  justify-content: left;
  background-color: #24103a;
  padding: 2rem;
  border-top: 1px solid rgba(173, 57, 155, 0.6);
  border-bottom: 1px solid rgba(173, 57, 155, 0.6);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);
}
.profileContainer .profileCards {
  display: flex;
  flex-direction: row;
  align-items: unset;
  gap: 2rem;
  align-self: auto;
  margin-left: 20rem;
}
.profileContainer .profileCards .card {
  border: #ad399b solid 2px;
  border-radius: 10px;
  background-color: #1a1026;
  box-shadow: 0 0 5px #ad399b, 0 0 10px #ad399b, 0 0 20px #6e2bff;
  width: 12rem;
  min-height: 10rem;
}
.profileContainer .profileCards .card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profileContainer .profileCards .card .card-body .fa-gamepad,
.profileContainer .profileCards .card .card-body .fa-trophy,
.profileContainer .profileCards .card .card-body .fa-clock,
.profileContainer .profileCards .card .card-body .fa-star1,
.profileContainer .profileCards .card .card-body .star-icon {
  color: #ff4fe0;
  font-size: 2rem;
}
.profileContainer .profileCards .card .card-body .card-title {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}
.profileContainer .profileCards .card .card-body .card-text {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}
.profileContainer .profileCards .card .card-body .estrellas .fa-star {
  color: #ff00ff;
}
.profileContainer .profileImg {
  border-radius: 132px;
}
.profileContainer .profileTextContainer .profileName {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}
.profileContainer .profileTextContainer .profileBio {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.profileContainer .profileTextContainer .profileButton {
  border: 2px solid #ff00ff;
  color: #ff00ff;
  background-color: transparent;
  padding: 8px;
  margin-top: 1rem;
  border-radius: 15px;
  font-size: 0.8rem;
  width: 114px;
  align-self: center;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 10px;
}
.profileContainer .profileTextContainer .profileButton:hover {
  background: #ff00ff;
  color: #000000;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}
@media (min-width: 300px) and (max-width: 525px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .profileContainer .profileImg {
    width: 150px;
  }
  .profileContainer .profileTextContainer {
    text-align: center;
  }
  .profileContainer .profileTextContainer .profileName {
    font-size: 15px;
  }
  .profileContainer .profileTextContainer .profileBio {
    font-size: 10px;
  }
  .profileContainer .profileTextContainer .profileButton {
    padding: unset;
    margin-top: unset;
  }
  .profileContainer .profileCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: unset;
    gap: 8px;
  }
  .profileContainer .profileCards .card {
    margin-bottom: unset;
    width: 5rem;
    min-height: 6rem;
  }
  .profileContainer .profileCards .card .card-body {
    gap: unset;
  }
  .profileContainer .profileCards .card .card-body .card-title {
    margin-bottom: 0px;
    font-size: 7.5px;
  }
  .profileContainer .profileCards .card .card-body .card-text {
    margin-bottom: 0px;
    font-size: 15px;
  }
  .profileContainer .profileCards .card .card-body .estrellas {
    font-size: 10px;
  }
  .profileContainer .profileCards .card .card-body .estrellas .fa-star {
    font-size: 5px;
  }
  .profileContainer .profileCards .card .card-body .fa-gamepad,
  .profileContainer .profileCards .card .card-body .fa-trophy,
  .profileContainer .profileCards .card .card-body .fa-clock,
  .profileContainer .profileCards .card .card-body .fa-star1,
  .profileContainer .profileCards .card .card-body .star-icon {
    font-size: 1rem;
  }
}

.activityLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4rem;
  background-color: #24103a;
  padding: 2rem;
  border-top: 1px solid rgba(173, 57, 155, 0.6);
  border-bottom: 1px solid rgba(173, 57, 155, 0.6);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);
}
.activityLayout .cardLayout {
  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: 4rem;
}
.activityLayout .cardLayout .card {
  border: #ad399b solid 2px;
  border-radius: 10px;
  background-color: #1a1026;
  box-shadow: 0 0 5px #ad399b, 0 0 10px #ad399b, 0 0 20px #6e2bff;
  width: 12rem;
  min-height: 10rem;
}
.activityLayout .cardLayout .card .list-group-item {
  align-items: center;
  gap: 1rem;
  background-color: #1a1026;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  border-bottom: none;
  box-shadow: 0 0 5px #ad399b, 0 0 10px #ad399b, 0 0 20px #6e2bff;
}
.activityLayout .cardLayout .card .list-group-item-primary {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
.activityLayout .cardLayout .card .list-group-item-secondary {
  display: flex;
  flex-direction: row;
  align-items: unset;
}
.activityLayout .cardLayout .card .fa-heart-circle-plus,
.activityLayout .cardLayout .card .fa-face-grin-hearts,
.activityLayout .cardLayout .card .fa-chess-knight,
.activityLayout .cardLayout .card .fa-money-bill-1,
.activityLayout .cardLayout .card .fa-trophy,
.activityLayout .cardLayout .card .star-icon {
  color: #ff00ff;
  font-size: 2rem;
}
.activityLayout .cardLayout .card .activityContent .activityText {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 0rem;
}
.activityLayout .cardLayout .card .activityContent .activityText1 {
  color: #ff4ddb;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 0rem;
}
.activityLayout .cardLayout .card .activityContent .fa-star,
.activityLayout .cardLayout .card .activityContent .fa-star-half-stroke {
  color: #ff4fe0;
}
.activityLayout .jugadosRecientemente .jugadosTitle {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;
}
.activityLayout .jugadosRecientemente .gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  gap: 2rem;
}
.activityLayout .jugadosRecientemente .gamesGrid .gameCard {
  max-width: 200px;
}
.activityLayout .jugadosRecientemente .gamesGrid .gameCard .gameCardImg {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 10%;
}
.activityLayout .jugadosRecientemente .gamesGrid .gameCard .productGame {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  margin-top: 0.5rem;
}
.activityLayout .jugadosRecientemente .gamesGrid .gameCard .genderFilter {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  gap: 1rem;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 300px) and (max-width: 525px) {
  .activityLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .activityLayout .jugadosRecientemente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .activityLayout .jugadosRecientemente .jugadosTitle {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .activityLayout .jugadosRecientemente .gamesGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
  }
  .activityLayout .jugadosRecientemente .gamesGrid .gameCard {
    max-width: 60px;
  }
  .activityLayout .jugadosRecientemente .gamesGrid .gameCard .productGame {
    font-size: 8px;
    margin-bottom: 0.5px;
  }
  .activityLayout .jugadosRecientemente .gamesGrid .gameCard .genderFilter {
    font-size: 8px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
  }
}

/*# sourceMappingURL=style.css.map */
