@use "../utilities/variable" as v;
@use "../utilities/mixins" as m;

.firstSection {
  background-color: v.$bg-tertiary;
  padding: 2rem;
  border-bottom: 1px solid rgba(173, 57, 155, 0.4);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);
  background-image:
    linear-gradient(rgba(26, 16, 38, 0.8), rgba(26, 16, 38, 0.8)),
    url(../../Img/fondoCompras.webp);

  .titleStyle {
    font-family: v.$fuente2;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 38px;
    margin: 0px;
    color: v.$font-color-primary;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .paragraphStyle {
    color: v.$font-color-primary;
    font-family: v.$fuente3;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    gap: 1rem;
    font-size: 20px;
    text-align: center;
  }
}

.storeLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  background-color: v.$bg-secondary;
  padding: 2rem;
  border-bottom: 1px solid rgba(173, 57, 155, 0.4);
  box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.25);

  .filterContainer {
    gap: 1rem;
    @include m.flex(column, unset);

    .filterTitle {
      color: v.$font-color-primary;
      font-family: v.$fuente2;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-size: 30px;
      padding-left: 1rem;
    }

    .filterGenre {
      @include m.flex(column, unset);
      border: #ad399b solid 2px;
      border-radius: 10px;
      padding-left: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      gap: 0.5rem;
      background-color: #1a1026;
      box-shadow:
        0 0 5px #ad399b,
        0 0 10px #ad399b,
        0 0 20px #6e2bff;
      .filterSubTitle {
        color: v.$font-color-primary;
        font-family: v.$fuente2;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-size: 15px;
      }

      .checkboxStyle {
        color: v.$font-color-primary;
        font-family: v.$fuente3;
        font-weight: 500;
        font-style: normal;
        gap: 1rem;
        font-size: 12px;
        text-align: left;
      }
    }
  }
  .productContainer {
    .productTitle {
      color: v.$font-color-primary;
      font-family: v.$fuente2;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      margin-bottom: 2rem;
    }
    .gamesGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      justify-items: center;
      gap: 2rem;

      .gameCard {
        @include m.flex(column, center);
        max-width: 200px;
        .gameCardImg {
          width: 100%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }
        .productGame {
          color: v.$font-color-primary;
          font-family: v.$fuente2;
          font-weight: 900;
          font-style: normal;
          font-size: 15px;
          text-align: center;
          margin-top: 0.5rem;
        }
        .genderFilter {
          color: v.$font-color-primary;
          font-family: v.$fuente3;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          gap: 1rem;
          font-size: 12px;
          text-align: center;
        }
        .buyButton {
          border: 2px solid v.$brand-color;
          color: v.$brand-color;
          background-color: v.$black;
          border-radius: 10px;
          font-family: "Orbitron", sans-serif;
          font-optical-sizing: auto;
          font-weight: 900;
          font-style: normal;
          font-size: 15px;
        }
      }
    }
  }
}
