/* BACKGROUND COLORS */

$brand-color: #ff00ff;
$bg-primary: #1a1026;
$bg-secondary: #24103a;
$bg-tertiary: #34124b;
$bg-quaternary: #34124b74;
$black: #000000;
$font-color-primary: #ffffff;

/* FUENTES */

@import url(https://fonts.googleapis.com/css2?family=Lacquer&family=Orbitron:wght@400..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lacquer&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nabla&display=swap);

$fuente1: "Nabla";
$fuente2: "Orbitron", sans-serif;
$fuente3: "IBM Plex Sans", sans-serif;
